<div class="container">
    <h1>Spread sheet</h1>
    <hr />
    @Html.Partial("~/Views/GemBox/SpreadsheetSession/ReadExcel.cshtml")
    <hr />
    @Html.Partial("~/Views/GemBox/SpreadsheetSession/CreateExcel.cshtml")
</div>